body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    .button:hover {
        background-color: #45a049;
    }

.mouvements {
    margin-top: 20px;
}
